
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Task Manager";
}

<h3>Задачи</h3>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <div id="jstree">
            </div>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
            <script type="text/javascript">
                var selectedId = 0;
        $(function () {
            $('#jstree').on('changed.jstree', function (e, data) {                

                $.ajax({
                    url: '@Url.Action("GetSubtasks", "Home")',//controller name and action
                    type: 'POST',
                    data: { id: data.selected[0] } //id
                    })
                    .success(function (result) {
                        $('#subtasksList').html(result); //write returned partial view to empty div
                    })
                    .error(function (xhr, status) {
                        alert(status);
                    })
                
            })

                .jstree({
                "core": {
                    "themes": {
                        "variant": "large"
                    },
                    "data": @Html.Raw(ViewBag.Json)
                    },

            });




        });

            </script>
        </div>
        
        <div class="col-sm-8" id="subtasksList">

        </div>
    </div>
</div>


